.container{
    background-color: bisque;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
#formbody{
    background-image: url('IITKGP.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#name, #email{
    margin: auto;
    Display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 500px;
}
#time{
    margin: auto;
    Display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label{ 
float: left;
}
h1{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#msg{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 255, 0);
    font-size: 24px;
}
.submitMSG{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: coral;
    font-size: larger;
}